@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.tela-login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  overflow-x: scroll;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.3s ease;
}
.tela-login__area-login {
  margin-bottom: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tela-login__area-login.escondido {
  display: none;
}
.tela-login__entrando.escondido {
  display: none;
}
.tela-login__texto-entrando {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.tela-login__load {
  width: 100px;
  height: 100px;
  margin: 0 auto 30px;
  border: solid 10px black;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.tela-login__logo {
  width: 130px;
  margin-top: 30%;
  margin-bottom: 30%;
}
.tela-login__input {
  margin: 10px;
  padding: 18px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}
.tela-login__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #aeaeae;
}
.tela-login__input:focus {
  outline: none;
}
.tela-login__input:focus::placeholder {
  color: transparent;
}
.tela-login__botao {
  background-color: #e7e7e7;
  cursor: pointer;
  margin: 5px;
  padding: 12px 30px;
  border-radius: 9px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.tela-login__area-erro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tela-login__mensagem-erro {
  width: 70%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 1.5;
  margin-top: 10px;
}
.tela-login.escondido {
  transform: translateY(-100%);
}

.barra-fixa {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 22px;
}

.topo {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.topo__imagem {
  height: 53px;
  object-fit: contain;
}
.topo__menu {
  font-size: 31px;
}

.escurecer-fundo {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.escurecer-fundo.escondido {
  display: none;
}

.menu-lateral {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 260px;
  max-width: 400px;
  z-index: 3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: white;
  padding: 0 0 0 17px;
  transition: all 150ms;
}
.menu-lateral.escondido {
  transform: translateX(100%);
}
.menu-lateral * {
  overflow-x: hidden;
}
.menu-lateral__titulo {
  font-weight: 700;
  font-size: 16px;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}
.menu-lateral__lista {
  max-height: 60%;
  overflow-y: scroll;
}
.menu-lateral__item {
  position: relative;
  padding: 15px 0;
  display: flex;
}
.menu-lateral__item::before {
  vertical-align: middle;
  margin-right: 9px;
}
.menu-lateral__item.todos::before {
  content: url(../imagens/icones/todos.svg);
}
.menu-lateral__item.usuario::before {
  content: url(../imagens/icones/usuario.svg);
}
.menu-lateral__item.publico::before {
  content: url(../imagens/icones/cadeado-aberto.svg);
}
.menu-lateral__item.reservadamente::before {
  content: url(../imagens/icones/cadeado-fechado.svg);
}
.menu-lateral__item.selecionado::after {
  position: absolute;
  right: 30px;
  vertical-align: middle;
  content: url("../imagens/icones/check.svg");
  transform: scale(1.2);
}
@media screen and (min-width: 1000px) {
  .menu-lateral {
    width: 400px;
  }
}

.container {
  background-color: #e5e5e5;
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  height: calc(100vh - 160px);
  overflow-y: scroll;
  padding: 26px 0;
}

.mensagens {
  font-size: 14px;
  overflow-wrap: break-word;
  hyphens: manual;
}
.mensagens .mensagem {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 13px;
  margin: 4px 0;
  line-height: 1.25;
}
.mensagens .mensagem__conteudo {
  width: 100%;
  overflow-wrap: break-word;
  hyphens: manual;
}
.mensagens .mensagem__horario {
  color: grey;
}
.mensagens .mensagem__nome {
  font-weight: 700;
}
.mensagens .mensagem.status {
  background-color: #dcdcdc;
}
.mensagens .mensagem.message {
  background-color: white;
}
.mensagens .mensagem.private_message {
  background-color: #ffdede;
}

.caixa-mensagem {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-left: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.caixa-mensagem__input {
  font-family: inherit;
  font-size: 18px;
  font-style: italic;
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 22px;
}
.caixa-mensagem__input::placeholder {
  color: black;
}
.caixa-mensagem__input:focus {
  outline: none;
}
.caixa-mensagem__info-adicional {
  color: grey;
  font-size: 14px;
  padding-top: 7px;
  padding-left: 22px;
}
.caixa-mensagem__info-adicional.escondido {
  display: none;
}
.caixa-mensagem__enviar {
  font-size: 26px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
