// Fontes

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// Variáveis

$cor-fundo: #e5e5e5;
$cor-fundo-status: #dcdcdc;
$cor-fundo-normal: white;
$cor-fundo-reservada: #ffdede;
$cor-texto-input: #aeaeae;
$cor-fundo-botao: #e7e7e7;
$cor-texto-botao: #696969;

$fonte-padrao: "Roboto", sans-serif;

@mixin desktop-only {
    @media screen and (min-width: 1000px) {
        @content;
    }
}

// Regra APENAS para prevenir animação ao carregar a página
// body.preload *{
//     animation-duration: 0s !important;
//     -webkit-animation-duration: 0s !important;
//     transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

// Regras

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

* {
    box-sizing: border-box;
    font-family: $fonte-padrao;
}

/* Funciona no Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(105, 103, 103) rgb(255, 255, 255, 0);

    /* Funciona no Chrome, Edge, Safari OperaGx */
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: rgb(255, 255, 255, 0);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        border: 3px solid rgba(0, 0, 0, 0.6);
    }
}





.tela-login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    overflow-x: scroll;

    background-color: $cor-fundo-normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    transition: transform 0.3s ease;

    &__logo {
        width: 130px;
        position: relative;
        top: 10%;
        margin-bottom: 15vh;
    }

    &__area-login {
        margin-bottom: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.escondido {
            display: none;
        }
    }

    &__entrando {
        &.escondido {
            display: none;
        }
    }

    &__texto-entrando {
        font-family: $fonte-padrao;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    &__input {
        margin: 10px;
        padding: 18px;

        font-family: $fonte-padrao;
        font-size: 18px;
        text-align: center;

        border: 1px solid #d7d7d7;
        border-radius: 4px;

        &::placeholder {
            font-family: $fonte-padrao;
            font-weight: 400;
            text-align: center;
            color: #aeaeae;
        }

        &:focus {
            outline: none;

            &::placeholder {
                color: transparent;
            }
        }
    }

    &__botao {
        background-color: $cor-fundo-botao;

        cursor: pointer;

        margin: 5px;
        padding: 12px 30px;

        border-radius: 9px;
        border: none;

        font-family: $fonte-padrao;
        font-size: 18px;
    }

    &__area-erro {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__mensagem-erro {
        width: 70%;

        font-family: $fonte-padrao;
        text-align: center;
        line-height: 1.5;

        margin-top: 10px;
    }
    
    &.escondido {
        transform: translateY(-100%);
    }
    
    &__load {
        width: 100px;
        height: 100px;
        margin: 0 auto 30px;
        border: solid 10px black;
        border-radius: 50%;
        border-right-color: transparent;
        border-bottom-color: transparent;
        -webkit-transition: all 0.5s ease-in;
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;

        transition: all 0.5s ease-in;
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.barra-fixa {
    background-color: $cor-fundo-normal;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;

    padding: 0 22px;

    // display: none;
}

.topo {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    &__imagem {
        height: 53px;
        object-fit: contain;
    }

    &__menu {
        font-size: 31px;
    }
}

.escurecer-fundo {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    &.escondido {
        display: none;
    }
}

.menu-lateral {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 260px;

    z-index: 3;

    font-family: $fonte-padrao;
    font-size: 16px;

    background-color: $cor-fundo-normal;

    padding: 0 0 0 17px;

    transition: all 150ms;

    &.escondido {
        transform: translateX(100%);
    }

    &__titulo {
        font-weight: 700;
        font-size: 16px;
        width: 75%;
        text-align: center;
        margin: 0 auto;
        padding: 30px 0;
    }

    &__lista {
        max-height: 60%;
        overflow-y: auto;
    }

    &__item {
        position: relative;
        padding: 15px 0;

        display: flex;

        width: 200px;
        overflow-wrap: anywhere;
        hyphens: manual;
        inline-size: 210px;

        &::before {
            vertical-align: middle;
            margin-right: 9px;
        }

        &.todos::before {
            content: url(../imagens/icones/todos.svg);
        }

        &.usuario::before {
            content: url(../imagens/icones/usuario.svg);
        }

        &.publico::before {
            content: url(../imagens/icones/cadeado-aberto.svg);
        }

        &.reservadamente::before {
            content: url(../imagens/icones/cadeado-fechado.svg);
        }

        &.selecionado::after {
            position: absolute;
            left: 100%;

            vertical-align: middle;

            content: url("../imagens/icones/check.svg");
            transform: scale(1.2);
        }
    }

    @include desktop-only() {
        width: 400px;
    }
}

.container {
    background-color: $cor-fundo; // TEMPORÁRIO
    // padding-top: 106px; // TEMPORÁRIO
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    height: calc(100% - 160px);
    overflow-y: scroll;

    padding: 26px 0;
}

.mensagens {
    font-size: 14px;
    overflow-wrap: break-word;
    hyphens: manual;

    // margin: 26px 0;

    .mensagem {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        padding: 10px 13px;
        margin: 4px 0;

        line-height: 1.25;

        &__conteudo {
            width: 100%;
            overflow-wrap: break-word;
            hyphens: manual;
        }

        &__horario {
            color: grey;
        }

        &__nome {
            font-weight: 700;
        }

        // Tipos de mensagem //

        &.status {
            background-color: $cor-fundo-status;
        }

        &.message {
            background-color: $cor-fundo-normal;
        }

        &.private_message {
            background-color: $cor-fundo-reservada;
        }
    }
}

.caixa-mensagem {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    padding-left: 0;

    font-family: $fonte-padrao;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    &__campo-mensagem {
        width: 100%;
    }

    &__input {
        font-family: inherit;
        font-size: 18px;
        font-style: italic;

        border: none;

        height: 100%;
        width: 100%;

        padding-left: 22px;

        &::placeholder {
            color: black;
        }

        &:focus {
            outline: none;
        }
    }

    &__info-adicional {
        color: grey;
        font-size: 14px;

        padding-top: 7px;
        padding-left: 22px;

        &.escondido {
            display: none;
        }
    }

    &__enviar {
        font-size: 26px;
        cursor: pointer;
    }
}
