// Fontes

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Variáveis

$cor-fundo: #e5e5e5;
$cor-fundo-status: #dcdcdc;
$cor-fundo-normal: white;
$cor-fundo-reservada: #ffdede;
$cor-texto-input: #AEAEAE;
$cor-fundo-botao: #E7E7E7;
$cor-texto-botao: #696969;

$fonte-padrao: "Roboto", sans-serif;

// Regra APENAS para prevenir animação ao carregar a página
// body.preload *{
//     animation-duration: 0s !important;
//     -webkit-animation-duration: 0s !important;
//     transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

// Regras

* {
    box-sizing: border-box;
    font-family: $fonte-padrao;
}

.tela-login {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    overflow-x: scroll;

    background-color: $cor-fundo-normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    transition: transform 0.3s ease;

    &__area-login {
        margin-bottom: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        width: 130px;
        margin-top: 30%;
        margin-bottom: 30%;
    }
    
    &__input {
        margin: 10px;
        padding: 18px;

        font-family: $fonte-padrao;
        font-size: 18px;
        text-align: center;

        border: 1px solid #D7D7D7;
        border-radius: 4px;
        
        &::placeholder {
            font-family: $fonte-padrao;
            font-weight: 400;
            text-align: center;
            color: #AEAEAE;
        }

        &:focus{
            outline: none;

            &::placeholder{
                color: transparent;
            }
        }
    }

    &__botao {
        background-color: $cor-fundo-botao;

        cursor: pointer;

        margin: 5px;
        padding: 12px 30px;

        border-radius: 9px;
        border: none;

        font-family: $fonte-padrao;
        font-size: 18px;
    }

    &__area-erro {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__mensagem-erro {
        width: 70%;

        font-family: $fonte-padrao;
        text-align: center;
        line-height: 1.5;

        margin-top: 10px;
    }

    &.escondido {
        transform: translateY(-100%);
    }
}

.barra-fixa {
    background-color: $cor-fundo-normal;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;

    padding: 0 22px;
}

.topo {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    &__imagem {
        height: 53px;
        object-fit: contain;
    }

    &__menu {
        font-size: 31px;
    }
}

.escurecer-fundo {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    &.escondido {
        display: none;   
    }
}

.menu-lateral {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;

    z-index: 3;

    font-family: $fonte-padrao;
    font-size: 16px;

    
    background-color: $cor-fundo-normal;

    padding: 0 27px 0 17px;

    transition: all 150ms;

    &.escondido {
        transform: translateX(100%);
    }

    &__titulo {
        font-weight: 700;
        font-size: 16px;
        width: 75%;
        text-align: center;
        margin: 0 auto;
        padding: 30px 0;
    }

    &__item{
        position: relative;
        padding: 15px 0;

        display: flex;

        &::before {
        vertical-align: middle;
        margin-right: 9px;
        }

        &.todos::before {
            content: url(../imagens/icones/todos.svg);
        }

        &.usuario::before {
            content: url(../imagens/icones/usuario.svg);
        }

        &.publico::before {
            content: url(../imagens/icones/cadeado-aberto.svg);
        }

        &.reservadamente::before {
            content: url(../imagens/icones/cadeado-fechado.svg);
        }

        &.selecionado::after {
            position: absolute;
            right: 0;

            vertical-align: middle;

            content: url("../imagens/icones/check.svg");
            transform: scale(1.2);
        }
    }
}

.container {
    background-color: $cor-fundo; // TEMPORÁRIO
    // padding-top: 106px; // TEMPORÁRIO
    height: 100vh;
    overflow-y: scroll;
}

.mensagens {
    font-size: 14px;
    margin: 106px 0;

    .mensagem {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        padding: 10px 13px;
        margin: 4px 0;

        line-height: 1.25;

        &__horario {
            color: grey;
        }

        &__nome {
            font-weight: 700;
        }

        // Tipos de mensagem //

        &.status {
            background-color: $cor-fundo-status;
        }

        &.message {
            background-color: $cor-fundo-normal;
        }

        &.private_mesage {
            background-color: $cor-fundo-reservada;
        }

    }

    & * {
        // padding: 5px;
    }
}

.caixa-mensagem {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    padding-left: 0;

    font-family: $fonte-padrao;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    &__input {
        font-family: inherit;
        font-size: 18px;
        font-style: italic;

        border: none;

        height: 100%;
        width: 100%;

        padding-left: 22px;

        &::placeholder {
            color: black;
        }

        &:focus {
            outline: none;
        }
    }

    &__info-adicional {
        color: grey;
        font-size: 14px;

        padding-top: 7px;
        padding-left: 22px;
    }

    &__enviar {
        font-size: 26px;
    }
}
